@model AirlineReservationSystem.Models.Flight

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@*Added bootstrap table-responsive class*@
<div class="table-responsive">
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jet.JetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jet.JetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightTime)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.FlightID })
    }
    |
    @Html.ActionLink("Back to List", "Index")
</p>
