@model AirlineReservationSystem.Models.Passenger

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@*Added bootstrap table-responsive class*@
<div class="table-responsive">
    <h4>Passenger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PassengerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassengerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengerEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PassengerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
