@model AirlineReservationSystem.Models.Jet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@*Added bootstrap table-responsive class*@
<div class="table-responsive">
    <h4>Jet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JetType)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.JetID }) 
}

    | @Html.ActionLink("Back to List", "Index")
</p>
