@model IEnumerable<AirlineReservationSystem.Models.Jet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jets</h2>

@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JetType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JetType)
        </td>
        @if (Request.IsAuthenticated)
        {
        <td>
            @if (User.IsInRole("User"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.JetID })
            }

            @Html.ActionLink("Details", "Details", new { id = item.JetID }) |
            @if (User.IsInRole("User"))
            {

                @Html.ActionLink("Delete", "Delete", new { id = item.JetID })
            }
            </td>
        }

    </tr>
    }

</table>
